<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <form action="/login" >
        <tr>
            <td>用户名</td>
            <td><input type="text" name="id"></td>
        </tr>
        <br>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password"></td>
        </tr>
        <br>
        <tr>
            <td><input type="submit" value="登录"></td>
        </tr>
    </form>

    <a href="/center">个人信息(需登录查看)</a>
    <a href="/logup">注册</a>
</body>
</html>